
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary_color: #E70012;
  --secondary_color: #FFFEFE;
  --dark_corlor: #010001;
  --sub_primary_color: #F7AFB5;
  --sub_dark_color: #2E3130;
  --active_white_bg_color: #d4d4d4;
  --active_red_color: #86051F;
  --gradient: linear-gradient(0deg, rgba(134,5,31,1) 0%, rgba(231,0,18,1) 51%);
}